@(blog : Blog)
<div class="blog-picture col-md-offset-1 col-md-3 text-center">
    <img src="@routes.Assets.versioned(blog.getPicture_path)" alt="" height="300" width="400">
</div>

<div class="blog-content col-md-offset-2 col-md-3">
    <a href="@routes.HomeController.blog_detail(blog.getId)"> <h3>@blog.getBlog_title</h3> </a>
    <h3 class=""> by @blog.getUser.getName</h3>
    <h4 class=" ">@blog.getCreation_date.getDayOfMonth/@blog.getCreation_date.getMonthOfYear/@blog.getCreation_date.getYear at @blog.getCreation_date.getHourOfDay:@blog.getCreation_date.getMinuteOfHour </h4>
</div>