@import helper.textarea
@(comments: Set[Comment], commentForm: Form[Comment], id: Int)
<h2>Comments</h2>
<br>
    <!-- Comment list  -->
<ul class="comment-list" style="list-style-type:none">
    @for(comment <- comments) {
        <li>
            <div class="comment-content col-md-7">
                <p><span class="comment-date">@comment.getCreation_date.getDayOfMonth/@comment.getCreation_date.getMonthOfYear/@comment.getCreation_date.getYear at @comment.getCreation_date.getHourOfDay:@comment.getCreation_date.getMinuteOfHour </span></p>
                <h4><strong>@comment.getUser.getName</strong></h4>
                <p id="comtext">@comment.getText</p>

                @if(comment.getUser.getName == session.get("name")){
                <div class="container-fluid comment-buttons padding-bottom-10">
                    <div class="row">
                        <button type="submit " class="btn-link btn-cupdate">Edit</button>
                        <button type="submit" data-url="{% url 'blog:comment_delete' comment.id %}" class="btn-link btn-cdelete">Delete</button>
                    </div>
                </div>
                }

                @*<div class="comment-text-update hidden padding-bottom-10">
                    <div class="form-group">
                        <textarea class="form-control" name="comment_text" id="comment_text" maxlength="3000" cols="30" rows="10" placeholder="Add your comment here" required >{{comment.comment_text}}</textarea>
                    </div>
                    <button data-url="{% url 'blog:comment_update' comment.id %}" type="submit" class="btn btn-link update-com">Confirm</button>
                </div>*@
            </div>
        </li>
    }
</ul>

    <!-- New comment form -->
<form action="@helper.CSRF(routes.CommentController.comment_save(id))" method="post" class="comment-form">

    <div class="text-center">
        @helper.textarea(commentForm("text"), '_label -> "", 'placeholder -> "Enter your comment here", 'class -> "form-control")
        <button type="submit" class="btn btn-link" id="comment-post">Post Comment</button>
    </div>
</form>

    <!-- Empty comment for jquery -->
@*<li class="hidden" id="emptycom">
    <div class="comment-content col-md-7">
        <p><span class="comment-date" id="comdate">{{comment.creation_date|date:"j M Y"}} at {{comment.creation_date|date:"H:i"}}</span></p>
        <h4><strong id="comuser">{{comment.user.username}}</strong></h4>
        <p id="comtext">{{comment.comment_text}}</p>

        <div class="container-fluid comment-buttons padding-bottom-10">
            <div class="row">
                <button type="submit " class="btn-link btn-cupdate">Edit</button>
                <button type="submit" data-url="{% url 'blog:comment_delete' 0 %}" class="btn-link btn-cdelete">Delete</button>
            </div>
        </div>

        <div class="comment-text-update hidden padding-bottom-10">
            <div class="form-group">
                <textarea class="form-control" name="comment_text" id="comment_text" maxlength="3000" cols="30" rows="10" placeholder="Add your comment here" required >{{comment.comment_text}}</textarea>
            </div>
            <button data-url="{% url 'blog:comment_update' 0 %}" type="submit" class="btn btn-link update-com">Confirm</button>
        </div>
    </div>
</li>*@
