@import helper.textarea
@(comments: Set[Comment], commentForm: Form[Comment], id: Int)
<h2>Comments</h2>
<br>
    <!-- Comment list  -->
<ul class="comment-list" style="list-style-type:none">
    @for(comment <- comments) {
        <li>
            <div class="comment-content col-md-7">
                <p><span class="comment-date">@comment.getCreation_date.getDayOfMonth/@comment.getCreation_date.getMonthOfYear/@comment.getCreation_date.getYear at @comment.getCreation_date.getHourOfDay:@comment.getCreation_date.getMinuteOfHour </span></p>
                <h4><strong>@comment.getUser.getName</strong></h4>
                <p id="comtext">@comment.getText</p>

                @if(comment.getUser.getName == session.get("name")){
                <div class="container-fluid comment-buttons padding-bottom-10">
                    <div class="row">
                        @helper.form(action = helper.CSRF(routes.CommentController.comment_update_get(comment.getId))){
                        <button type="submit" class="btn-link">Edit</button>
                        }
                        @helper.form(action = helper.CSRF(routes.CommentController.comment_delete(comment.getId))){
                            <button type="submit" class="btn-link">Delete</button>
                        }
                    </div>
                </div>
                }
            </div>
        </li>
    }
</ul>

    <!-- New comment form -->
<form action="@helper.CSRF(routes.CommentController.comment_create_post(id))" method="post" class="comment-form">

    <div class="text-center">
        @helper.textarea(commentForm("text"), '_label -> "", 'placeholder -> "Enter your comment here", 'class -> "form-control")
        <button type="submit" class="btn btn-link" id="comment-post">Post Comment</button>
    </div>
</form>

