@(post : BlogPost)

<div class="text-center">
    <img src="@routes.Assets.versioned(post.getPicture_path)" alt="" >
</div>

<h5 class="grey-text"> by @post.getUser.getName </h5>

<h5 class="grey-text"> @post.getCreation_date.getDayOfMonth/@post.getCreation_date.getMonthOfYear/@post.getCreation_date.getYear at @post.getCreation_date.getHourOfDay:@post.getCreation_date.getMinuteOfHour </h5>

<a href="@routes.HomeController.blogpost_detail(post.getId)" class="thumb-link">
    <h3> @post.getPost_title </h3>
</a>

<div class="tags-area">
        @for(tag <- post.getTags.split(",") ) {
            <a href="#" class="btn-link">@tag</a>
        }
</div>
<br>

<a href="@routes.HomeController.blogpost_detail(post.getId)" class="btn-link">Continue Reading...</a>