@(categories: List[Category])
@base(title = "Categories"){


    <div class="container-fluid">
        <div class="row">

        @for(category <- categories){
            <div class="container-category col-md-3 ml-30 mb-20">
                <img src="@routes.Assets.versioned(category.getPicture)" alt="" height="300" width="400">
                <div class="catagory-title">
                    <a href="@routes.HomeController.category_blogs(category.getId)" class="btn btn-link-category">
                        <h5> @category.getName </h5>
                    </a>
                </div>
            </div>
        }
        </div>

    </div>


}