@import views.html.partials.blog_thumb
@import views.html.partials.post_thumb
@(blogs : List[Blog], blogPosts: List[BlogPost])
@base(title = "Home") {
    <section>

        <div class="swiper-container">
                <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                    <!-- Slides -->

                @for(blog <- blogs) {
                    <div class="swiper-slide" height="250px">
                    @blog_thumb(blog)
                    </div>
                }

            </div>
            <div class="swiper-scrollbar"></div>
        </div>

    </section>

    <div class="text-center padding-bottom-20 padding-top-20">
        <form action="@routes.BlogController.blog_create_get()" method="get">
            <button class="btn btn-link">Create your own blog</button>
        </form>
    </div>

    <section class="col-md-6 col-md-offset-1 padding-top-20">

        <div class="section-title">
            <h1 class="white-text text-center">Popular posts</h1>
        </div>
        <br>
        @for(post <- blogPosts) {
            <div class="post-thumb pl-25">
                @post_thumb(post)
            </div>
        }

    </section>

}

